<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${topicDTO.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/coment.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; padding: 15px; border-bottom: 1px solid #e2e2e2">
                <h3 th:text="${topicDTO.title}"></h3>
                <span class="text-desc">
                    <a th:href="@{'/publish/' + ${topicDTO.tid}}" th:if="${session.session_user != null && session.session_user.uid == topicDTO.creator}">编辑</a>&nbsp;&nbsp;
                    作者：<span th:text="${topicDTO.user.userName}"></span>&nbsp;&nbsp;
                    <span th:text="${topicDTO.commentCount}"></span> 个回复&nbsp;&nbsp;
                    <span th:text="${topicDTO.viewCount}"></span> 次浏览&nbsp;&nbsp;
                    发布时间：<span th:text="${#dates.format(topicDTO.gmtCreate,'yyyy-MM-dd HH:mm')}">2020-4-1</span>
                </span>
                <div style="margin-top: 10px; ">
                    <span class="label label-default" th:each="tag : ${topicDTO.tag.split(',')}" style="margin-right: 10px">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span class="label label-default"  th:text="${tag}"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="topic-view" style="background-color: white; padding: 15px; margin-bottom: 15px">
                <textarea style="display:none;" th:text="${topicDTO.description}"></textarea>
            </div>

            <!-- 回复 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; padding: 15px; border-bottom: 1px solid #e2e2e2">
                <span th:text="${topicDTO.commentCount}"></span> 条回复
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; padding: 15px; margin-bottom: 15px">
                <div class="media" th:each="commentDTO : ${comemntDTOList}">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${commentDTO.user.avatarUrl}" style="width: 50px; height: 50px;">
                        </a>
                    </div>
                    <div class="media-body" th:id="${'comment-body-' + commentDTO.cid}">
                        <p class="media-heading">
                            <a href="#" style="text-decoration: none"><strong th:text="${commentDTO.user.userName}"></strong></a>
                        </p>
                        <p th:text="${commentDTO.content}"></p>
                        <div style="color: #999;">
                            <span class="glyphicon glyphicon-comment icon" th:data-id="${commentDTO.cid}" onclick="collapseComment(this)"></span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="pull-right text-desc" th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <div class="collapse" th:id="${'comment-' + commentDTO.cid}" style="margin-top: 10px; margin-bottom: 10px; border: 1px solid #e2e2e2; padding: 15px 15px 40px; border-radius: 5px">
                            <input type="text" class="form-control" placeholder="评论一下" th:id="${'reply-' + commentDTO.cid}" style="margin-top: 10px; margin-bottom: 10px">
                            <button type="button" class="btn btn-success btn-sm pull-right" onclick="comment(this)" th:data-id="${commentDTO.cid}">发布</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; padding: 15px;">
                <div style="margin-bottom: 15px" >发表一条新回复</div>
                <input type="hidden" id="tid" th:value="${topicDTO.tid}" />
                <div style="margin-bottom: 15px">
                    <textarea class="form-control" rows="3" id="comment-content" style="resize: none"></textarea>
                </div>
                <span class="pull-left">
                    请尽量让自己的回复能够对别人有帮助
                </span>
                <span class="pull-right">
                    <button type="button" class="btn btn-default active" onclick="post()">发布</button>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding: 15px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; padding: 15px; margin-bottom: 15px">
                <p><strong>个人信息</strong></p>
                <p>异想是一个分享脑洞与探索未来的平台</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group" style="background-color: white; padding: 0; margin-bottom: 15px;">
                <a href="#" class="list-group-item disabled">
                    相关帖子
                </a>
                <div th:each="relatedTopic : ${relatedTopicDTOList}">
                    <a th:href="@{'/topic/'+ ${relatedTopic.tid}}" class="list-group-item">
                        <span th:text="${relatedTopic.title}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $(function() {
        var testView = editormd.markdownToHTML("topic-view", {});
    });
</script>

</html>